
/* 
    Created on : Apr 9, 2018, 8:49:15 PM
    Author     : Tiffany Holden
    VirusTotal Group
*/

#dataTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: whitesmoke;
}

#dataTable td, #dataTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#dataTable tr:nth-child(even){background-color: #f2f2f2;}

#dataTable tr:hover {background-color: #ddd;}

#dataTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #003300;
    color: whitesmoke;
}

body{
    background-color: #006666;
    text-align: center;
}
h1{
    color:whitesmoke;
    margin-top: 40px;
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 6px 2px black;
    background-image:url("virus.png");
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: 30% 50%;
}
textfield{
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
    color: whitesmoke;
}
.search {
    background-image:url("virus.png");
     background-size: 90px;
    background-repeat: no-repeat;
    background-position: 20% 50%;
    overflow: hidden;
    background-color: #003300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62px;
    text-shadow: 6px 2px black;
    margin-top: 30px;
}
.search input[type=text] {
    padding: 6px;
    margin-left: 20px;
    margin-bottom:30px;
    font-size: 18px;
    border: none;
}

.search .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    background: #003300;
    font-size: 20px;
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.search .search-container button:hover {
    background: #999999;
}
div
{
    margin:auto;  
}
button{
    color: whitesmoke;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cccccc;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #999999;
}

.show {
    display: block;
}

